.block{
    display: flex;
    position: absolute;
    text-align: center;
    padding: 10px;
    height: 150px;
    width: 150px;
    top: 12%;
    left: 15%;
    z-index:4;
    font-size: 60px;
    align-items: center;
    justify-content: center;
}

.block p{
    font-size: 20px;
}

.mass {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-15%);
}

.atomic {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(15%);
}

.span-block {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
