
.blockElements{
    display: flex;
    text-align: center;
    padding: 10px;
    height: 200px;
    width: 200px;
    font-size: 60px;
    align-items: center;
    justify-content: center;
}


.blockElements p{
    font-size: 30px;
}

.mass {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-25%);
}

.atomic {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(25%);
}

.span-block {
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}




.index-block{
    width: 20px;
    height: 20px;
}

.iblock-strong-green{
    background-color: #005927;
}

.iblock-blue{
    background-color: #0075C5;
}

.iblock-green{
    background-color: #92A60E;
}

.iblock-yellow{
    background-color: #F9AC00;
}

.iblock-orange{
    background-color: #EB6811;
}

.iblock-strong-blue{
    background-color: #10375c;
}

.iblock-pink{
    background-color: #DF0035;
}

.iblock-light-green{
    background-color: #C1CB78;
}

.iblock-purple{
    background-color: #600F66;
}

.iblock-light-lime{
    background-color: #5A956F;
}
