
.block{
    display: flex;
    position: absolute;
    text-align: center;
    padding: 10px;
    height: 200px;
    width: 200px;
    top: 12%;
    left: 15%;
    z-index:4;
    font-size: 60px;
    align-items: center;
    justify-content: center;
}


.block p{
    font-size: 30px;
}

.mass {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(25%);
}

.atomic {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-25%);
}

.span-block {
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
